* {
  box-sizing: border-box;
}

body {
  margin: 100px 0;
}

header,
footer {
  max-width: 600px;
  margin: 20px auto;
  background-color: lightblue;
  text-align: center;
}


main {
  max-width: 600px;
  margin: 0 auto;
  background-color: mistyrose;
  text-align: center;
  height: auto;
}


.ttt-container {
  width: auto;
  height: 515px;
}


.box {
  border: 7px solid grey;
  text-align: center;
  /*below is to set vertically equal*/
  /*padding: 18px 0;*/
  display: inline-block;
  /*below is important, inline-block by default set the vertical-align to baseline*/
  vertical-align: top;
  width: 33%;
  height: 171px;
  font-size: 120px;
  font-family: 'Lucida Console', Monaco, monospace;
  font-weight: bold;

}

.box:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#box-1,
#box-2,
#box-3 {
  border-top: white;
}


#box-1,
#box-4,
#box-7 {
  border-left: white;
}


#box-3,
#box-6,
#box-9 {
  border-right: white;
}


#box-7,
#box-8,
#box-9 {
  border-bottom: white;
}

h1 {
  font-family: 'Lucida Sans Unicode', Lucida Grande, sans-serif;
  font-size: 50px;
}

p {
  font-family: 'Lucida Sans Unicode', Lucida Grande, sans-serif;
  font-size: 20px;
}

#display-winner {
  font-family: 'Lucida Sans Unicode', Lucida Grande, sans-serif;
  font-size: 30px;
  color: crimson;
}
